.lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    color: #222;
}
.lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 48px;
    color: #222;
}
.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: #222;
}
.lato-reg400 {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: rgb(93, 93, 93);
}
.lato13 {
    font-family: "Lato", sans-serif;
    font-weight: bold 400;
    font-style: normal;
    font-size: 13px;
    color: #222;
}
.lato16 {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: rgb(242, 99, 118)
}
.lato24 {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    color: #f16d7f;
}
img {
    display: block;
    max-width: 100%;
}
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body {
    scroll-behavior: smooth;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.menu {
    width: 1600px;
    height: 75px;
    background: rgb(34, 34, 34);
}
.nav {
    height: 75px;
    padding-left: 240px;
    padding-right: 231px;
    display: flex;
    justify-content: space-between;
}
.logoSearch {
    width: 111px;
    height: 38px;
    padding-top: 19px;
    display: flex;
    justify-content: space-between;
}
.logo {
    padding-bottom: 19px;
}
.button {
    background: rgb(34, 34, 34);
    border: none;
    cursor: pointer;
}
.svg {
    fill: #e8e8e8;
    padding-top: 10px;
}
.userMenu {
    width: 159px;
    height: 29px;
    padding-top: 26px;
    display: flex;
    justify-content: space-between;
}
.main {
    width: 1600px;
    height: 764px;
    background: rgb(241, 228, 230);
    display: flex;
    flex-direction: row;
}
.mainFlex {
    width: 800px;
    height: 764px;
}
.title {
    width: 405px;
    height: 93px;
    padding-top: 289.9px;
    padding-left: 63.42px;
    display: flex;
    flex-direction: row;
}
.rect {
    width: 12px;
    height: 93px;
    fill: #f16d7f;
}
.textTitle {
    width: 377px;
    height: 93px;
    display: flex;
    flex-direction: column;
    padding-left: 16px;
}
.brand {
    text-align: start;
    margin-top: 0;
    margin-bottom: 0;
}
.subBrand {
    display: flex;
    flex-direction: row;
    height: 34px;
    text-align: start;
}
.colorP {
    color: #f16d7f;
}
.section {
    height: 470px;
    margin-left: 230px;
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.categories {
    width: 1140px;
    height: 260px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.imgCat {
    width: 360px;
    height: 260px;
}
.text {
    position: absolute;
    width: 154px;
    height: 50px;
    left: 333px;
    top: 1009px;
}
.text_2 {
    position: absolute;
    width: 110px;
    height: 50px;
    left: 745px;
    top: 1009px;
}
.text_3 {
    position: absolute;
    width: 115px;
    height: 50px;
    left: 1133px;
    top: 1009px;
}
.text_4 {
    position: absolute;
    width: 159.72px;
    height: 50px;
    left: 721.14px;
    top: 1259px;
}
.info {
    text-align: center;
    color: #F6F5F6;
}
.textCenter {
    text-align: center;
}
.accses {
    height: 180px;
}
.cardSect {
    height: 1395px;
    margin-left: 230px;
    margin-top: 96px;
    margin-bottom: 60px;
}
.cardH1 {
    text-align: center;
}
.cardH2 {
    text-align: center;
    margin-top: 6px;
}
.cards {
    padding-top: 48px;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 30px;
}
.card {
    width: 360px;
    height: 587px;
}
.nameCard {
    margin-top: 24.35px;
    margin-left: 16.46px;
}
.description {
    margin-top: 12.65px;
    margin-left: 16.46px;
}
.price {
    margin-top: 18px;
    margin-left: 16.46px;
}
.backGr {
    background: rgb(248, 248, 248);
}
.browse {
    text-align: center;
    height: 19px;
}
.border {
    width: 212px;
    height: 48px;
    margin-left: 465px;
    margin-top: 48px;
    margin-bottom: 60px;
    border: 2px solid #FF6A6A;
    background: #FFFFFF;
}
.btn {
    cursor: pointer;
}